@charset "utf-8";

@font-face {
    font-family: 'GothamPro-Regular';
    src: url('../fonts/GothamPro.eot');
    src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro.woff2') format('woff2'),
        url('../fonts/GothamPro.woff') format('woff'),
        url('../fonts/GothamPro.ttf') format('truetype'),
        url('../fonts/GothamPro.svg#GothamPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Light';
    src: url('../fonts/GothamPro-Light.eot');
    src: url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-Light.woff2') format('woff2'),
        url('../fonts/GothamPro-Light.woff') format('woff'),
        url('../fonts/GothamPro-Light.ttf') format('truetype'),
        url('../fonts/GothamPro-Light.svg#GothamPro-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Medium';
    src: url('../fonts/GothamPro-Medium.eot');
    src: url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-Medium.woff2') format('woff2'),
        url('../fonts/GothamPro-Medium.woff') format('woff'),
        url('../fonts/GothamPro-Medium.ttf') format('truetype'),
        url('../fonts/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Black';
    src: url('../fonts/GothamPro-Black.eot');
    src: url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-Black.woff2') format('woff2'),
        url('../fonts/GothamPro-Black.woff') format('woff'),
        url('../fonts/GothamPro-Black.ttf') format('truetype'),
        url('../fonts/GothamPro-Black.svg#GothamPro-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Bold';
    src: url('../fonts/GothamPro-Bold.eot');
    src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-Bold.woff2') format('woff2'),
        url('../fonts/GothamPro-Bold.woff') format('woff'),
        url('../fonts/GothamPro-Bold.ttf') format('truetype'),
        url('../fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?ael9xc');
	src:  url('../fonts/icomoon.eot?ael9xc#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?ael9xc') format('truetype'),
		url('../fonts/icomoon.woff?ael9xc') format('woff'),
		url('../fonts/icomoon.svg?ael9xc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


html,
body {
	position: relative;
}
html{
	font-size: 10px;
}
body {
	min-width: 320px;
	text-align: left;
	font-family: 'GothamPro-Regular';
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #211F1F;
}
a{
	text-decoration: none;
	color: #211F1F;
}
h1{
	font-family: 'GothamPro-Medium';
	font-size: 32px;
	line-height: 40px;
}
h2{
	font-family: 'GothamPro-Medium';
	font-size: 36px;
	line-height: 44px;
}
h3{
	font-family: 'GothamPro-Medium';
	font-size: 28px;
	line-height: 40px;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'GothamPro-Bold';
}
.underline{
	text-decoration: underline;
}
.dashed{
	border-bottom: 1px dashed;
	-webkit-transition: border-color .1s;
	-o-transition: border-color .1s;
	transition: border-color .1s;
}
.dashed:hover{
	border-color: transparent;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: calc(100% - 180px);
	/*max-width: 1420px;*/
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	font-family: 'GothamPro-Light';
	color: #777;
}
input:-moz-placeholder {
	font-family: 'GothamPro-Light';
	color: #777;
}
[class^="icon-"]:before, 
[class*=" icon-"]:before,
.icon:before, 
.icon:before  {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon{
	position: relative;
}

.b-btn{
	display: block;
	padding: 20px;
	color: #fff;
	border: 1px solid #fff;
	font-family: 'GothamPro-Regular';
	font-size: 16px;
	text-align: center;
}
.b-btn.b-btn-brown{
	background-color: #B7968B;
	color: #fff;
	/*border-color: rgba(33,31,31,0.3);*/
	font-family: 'GothamPro-Medium';
	font-size: 20px;
	padding: 24px;
}

.b-panel-page{

}	
	.b-menu-overlay,
	.b-cart-overlay{
	    -webkit-transition: opacity .3s ease-out, visibility .3s ease-out;
	    -moz-transition: opacity .3s ease-out, visibility .3s ease-out;
	    -ms-transition: opacity .3s ease-out, visibility .3s ease-out;
	    -o-transition: opacity .3s ease-out, visibility .3s ease-out;
	    transition: opacity .3s ease-out, visibility .3s ease-out;
	    position: absolute;
	    opacity: 0;
	    visibility: hidden;
	    left: 0px;
	    top: 0px;
	    width: 100%;
	    height: 100%;
	    z-index: 11;
	    background-color: rgba(0, 0, 0, 0.25);
	}
	.b-cart-overlay{
		z-index: 99;
	}
	.cart-open .b-cart-overlay,
	.menu-open .b-menu-overlay{
		opacity: 1;
		visibility: visible;
	}

@media screen and (max-width: 960px) {
	.b-block{
		width: calc(100% - 32px);
	}
}
@media screen and (max-width: 768px){
	h1{

	}
	h2{
		font-size: 24px;
		line-height: 24px;
	}
	h3{
		
	}
}


/******************   cart slideout   *******************/
.slideout-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 650px;
	min-height: 100vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 0;
	display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
	right: 0;
	background-color: #fff;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF;
  min-height: 100vh;
}

.cart-open,
.search-open,
.menu-open,
.cart-open body,
.cart-open .slideout-panel {
  overflow: hidden;
}

.b-cart{
	width: 650px;
	max-width: 100%;
	left: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	-webkit-transition: transform .3s ease-out;
	-o-transition: transform .3s ease-out;
	transition: transform .3s ease-out;
	background-color: #fff;
	z-index: 100;
	overflow-y: scroll;
	min-height: 100vh;
}
.cart-open .b-cart{
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
}
	.b-cart-inner{
		padding: 70px 52px 100px 80px;
	}
		.b-cart-inner-top{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 60px;
		}
			.b-cart-header{
				font-family: 'GothamPro-Medium';
				font-size: 32px;
				color: #21201F;
				line-height: 40px;
			}
			.b-cart-close,
			.b-clear-input{
				width: 30px;
				height: 30px;
				position: relative;
				display: inline-block;
			}
			.b-cart-close:before,
			.b-clear-input:before{
				content: '\e903';
				width: 100%;
				height: 100%;
				position: absolute;
				left: 50%;
				top: 50%;
				font-size: 30px;
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		.b-cart-inner-list{

		}
			.b-cart-item{
				margin-bottom: 40px;
				font-family: 'GothamPro-Regular';
				font-size: 18px;
				color: #211F1F;
				line-height: 24px;
				overflow: hidden;
			}
				.b-cart-item-img{
					width: 100px;
					height: 149px;
					display: inline-block;
					background-size: contain;
					background-position: 50% 0;
					background-repeat: no-repeat;
					vertical-align: top;
					margin-right: 20px;
				}
				.b-cart-item-info{
					width: 245px;
					display: inline-block;
					vertical-align: top;
				}
					.b-cart-item-name{
						margin-bottom: 8px;
					}
					.b-cart-item-color{
						color: #A8A8A8;
						margin-bottom: 8px;
					}
					.b-cart-item-size{
						color: #A8A8A8;
						margin-bottom: 14px;
					}
					.b-cart-item-count{

					}
						.b-cart-item-minus{
							width: 14px;
							height: 14px;
							position: relative;
							display: inline-block;
						}
						.b-cart-item-minus:before{
							content: '\e905';
							position: absolute;
							left: 50%;
							top: 50%;
							-webkit-transform: translate(-50%, -50%);
							-ms-transform: translate(-50%, -50%);
							-o-transform: translate(-50%, -50%);
							transform: translate(-50%, -50%);
							font-size: 14px;
						}
						.b-cart-item-plus{
							width: 14px;
							height: 14px;
							position: relative;
							display: inline-block;
						}
						.b-cart-item-plus:before{
							content: '\e906';
							position: absolute;
							left: 50%;
							top: 50%;
							-webkit-transform: translate(-50%, -50%);
							-ms-transform: translate(-50%, -50%);
							-o-transform: translate(-50%, -50%);
							transform: translate(-50%, -50%);
							font-size: 14px;
						}
						.b-cart-item-input{
							margin: 0 8px;
							display: inline-block;
						}
							.b-cart-item-input input{
								border: 1px solid rgba(183, 150, 139, 0.32);
								padding: 6px 2px 6px 3px;
								width: 48px;
								font-size: 18px;
								line-height: 24px;
								font-family: 'GothamPro-Regular';
								color: #211F1F;
								text-align: center;
							}
				.b-cart-item-price-cont{
					display: inline-block;
					vertical-align: top;
					float: right;
				}
					.b-cart-item-price{

					}
					.b-cart-item-price-discount{
						color: #A8A8A8;
						position: relative;
					}
					.b-cart-item-price-discount:before{
						content: '';
						position: absolute;
						left: 0;
						top: calc(50% - 1px);
						width: 100%;
						height: 1px;
						background-color: #A8A8A8;
						-webkit-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						-o-transform: translateY(-50%);
						transform: translateY(-50%);
					}
			.b-cart-sum-cont{
				font-family: 'GothamPro-Regular';
				font-size: 24px;
				color: #211F1F;
				line-height: 32px;
				margin-bottom: 40px;
			}
			.b-cart .b-btn-brown{
				max-width: 494px;
			}
@media screen and (max-width: 768px) {
	.b-cart-inner{
		padding: 44px 32px;
	}
}
@media screen and (max-width: 600px){
	.b-cart-item-img{
		width: 70px;
  		height: 104px;
  		margin-right: 16px;
	}
	.b-cart-item-info{
		width: calc(100% - 190px);
	}
}


/******************   cart slideout   *******************/

/******************   header   *******************/


	.b-header{
		position: relative;
		z-index: 15;
		padding: 70px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		background-color: #FFF;
		overflow: hidden;
	}
		.b-header-cont{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
			.b-header-block{

			}
			.b-header-block-left{

			}
				.b-menu-icon{
					display: inline-block;
					vertical-align: middle;
					width: 30px;
					height: 30px;
					margin-right: 70px;
				}
				.b-menu-icon:before{
					content: '\e904';
					font-size: 30px;
				}
				.b-logo{
					background-image: url('../i/logo.svg');
					background-size: contain;
					background-repeat: no-repeat;
					background-position: 50% 50%;
					width: 328px;
					height: 30px;
					display: inline-block;
					vertical-align: middle;
					padding: 1px 0;
				}
			.b-header-block-right{
				text-align: right;
			}
				.b-search-icon,
				.b-search-icon-input{
					width: 30px;
					height: 30px;
					display: inline-block;
					vertical-align: middle;
					margin-right: 110px;
				}
				.b-search-icon:before,
				.b-search-icon-input:before{
					content: '\e907';
					font-size: 30px;
				}
				.b-cabinet-icon{
					width: 30px;
					height: 30px;
					display: inline-block;
					vertical-align: middle;
					margin-right: 110px;
				}
				.b-cabinet-icon:before{
					content: '\e900';
					font-size: 30px;
				}
				.b-header-cart{
					display: inline-block;
					vertical-align: middle;
				}
					.b-cart-text-cont{
						background-color: #B7968B;
						font-family: 'GothamPro-Medium';
						font-size: 16px;
						color: #FFFFFF;
						line-height: 16px;
						position: absolute;
						right: 40px;
						padding: 10px 12px;
						border-radius: 2px;
						top: 50%;
						-webkit-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						-o-transform: translateY(-50%);
						transform: translateY(-50%);
						height: 35px;
						opacity: 0;
						visibility: hidden;
						-webkit-transition: opacity .2s, visibility .2s;
						-o-transition: opacity .2s, visibility .2s;
						transition: opacity .2s, visibility .2s;
					}
					.b-cart-text-cont.show{
						opacity: 1;
						visibility: visible;
					}
					.b-cart-text-cont:after{
						content: '';
						position: absolute;
						width: 8px;
						height: 8px;
						background-color: #B7968B;
						top: 50%;
						-webkit-transform: rotate(45deg) translateY(-50%);
						-ms-transform: rotate(45deg) translateY(-50%);
						-o-transform: rotate(45deg) translateY(-50%);
						transform: rotate(45deg) translateY(-50%);
						right: -1px;
					}
						.b-cart-count{
							display: inline-block;
							vertical-align: top;
							-webkit-transition: opacity .3s, visibility .3s;
							-o-transition: opacity .3s, visibility .3s;
							transition: opacity .3s, visibility .3s;
						}
						.b-cart-text{
							display: inline-block;
							vertical-align: top;
							opacity: 1;
							visibility: visible;
							/*-webkit-transition: opacity .1s, visibility .1s;
							-o-transition: opacity .1s, visibility .1s;
							transition: opacity .1s, visibility .1s;*/
							line-height: 65px;
							margin-top: -25px;
						}
						.b-cart-count.hide{
							opacity: 0;
							visibility: hidden;
						}
						.b-cart-text.show{
							opacity: 1;
							visibility: visible;
						}
					.b-cart-icon{
						width: 30px;
						height: 30px;
						display: block;
					}
					.b-cart-icon:before{
						content: '\e901';
						font-size: 30px;
					}
@media screen and (min-width: 1280px) and (max-width: 1600px) {
	.b-header{
		padding: calc(50px + 20 * (100vw - 1280px) / 320) 0;
	}
}
@media screen and (max-width: 1280px){
	.b-header{
		padding: 50px 0;
	}
}
@media screen and (max-width: 1280px) {
	.b-logo{
		width: calc(150px + 178 * (100vw - 375px) / 905);
		height: calc(14px + 16 * (100vw - 375px) / 905);
	}
	.b-menu-icon,
	.b-search-icon,
	.b-cabinet-icon,
	.b-cart-icon{
		width: calc(20px + 10 * (100vw - 375px) / 905);
		height: calc(20px + 10 * (100vw - 375px) / 905);
	}
	.b-search-icon,
	.b-cabinet-icon{
		margin-right: calc(28px + 82 * (100vw - 375px) / 905);
	}
	.b-menu-icon{
		margin-right: calc(20px + 50 * (100vw - 375px) / 905);
	}
	.b-menu-icon:before,
	.b-search-icon:before,
	.b-cabinet-icon:before,
	.b-cart-icon:before,
	.b-header .b-search-icon:before,
	.b-input-search .b-clear-input:before{
		font-size: calc(20px + 10 * (100vw - 375px) / 905);
	}
	.b-header{
		padding: calc(24px + 26 * (100vw - 375px) / 905) 0;
	}
}

@media screen and (max-width: 768px){
	.b-cart-text-cont{
		display: none;
	}
}
@media screen and (max-width: 375px){
	.b-search-icon, 
	.b-cabinet-icon{
		margin-right: 15px;
	}
}

/******************   header   *******************/

/******************   search   *******************/

.b-search{
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .3s ease-out, visibility .3s ease-out;
    -moz-transition: opacity .3s ease-out, visibility .3s ease-out;
    -ms-transition: opacity .3s ease-out, visibility .3s ease-out;
    -o-transition: opacity .3s ease-out, visibility .3s ease-out;
    transition: opacity .3s ease-out, visibility .3s ease-out;
}

.search-open{

}	
	.search-open .b-header,
	.menu-open .b-header{
		border-bottom: 1px solid #E6E6E6;
	}
	.search-open .b-search{
		opacity: 1;
		visibility: visible;
		overflow: auto;
	}
	.b-search-content{
		position: absolute;
		top: calc(50% - 29px + 85px);
		width: 100%;
		-webkit-transition: top .5s ease-out;
	    -moz-transition: top .5s ease-out;
	    -ms-transition: top .5s ease-out;
	    -o-transition: top .5s ease-out;
	    transition: top .5s ease-out;
	}
	.b-search-content.results-open{
		top: 200px;
	}
		.b-search-form {
		    margin: 0 auto;
		    width: calc((100vw - 180px)/2 - 16px);
		    padding-right: 5px;
		}
			.b-input-search{
				position: relative;
				width: 100%;
				-webkit-transform: translateX(40px);
				-ms-transform: translateX(40px);
				-o-transform: translateX(40px);
				transform: translateX(40px);
				-webkit-transition: transform .8s cubic-bezier(0,0,0,1);
				-o-transition: transform .8s cubic-bezier(0,0,0,1);
				transition: transform .8s cubic-bezier(0,0,0,1);
			}
			.search-open .b-input-search{
				-webkit-transform: translateX(0);
				-ms-transform: translateX(0);
				-o-transform: translateX(0);
				transform: translateX(0);
			}
				.b-input-search button{
					position: absolute;
				    top: 13px;
				    left: 0;
				    width: 30px;
				    height: 30px;
				    margin-right: 0;
					background-color: transparent;
				    border: 0;
				    cursor: pointer;
				}
				.b-input-search input{
					width: 100%;
					padding: 8px 32px 8px 54px;
					border: 0;
					border-radius: 0;
					font-family: 'GothamPro-Regular';
					font-size: 28px;
					line-height: 40px;
					background-color: transparent;
				}
				.b-input-search input::-webkit-input-placeholder {
					font-size: 28px;
					line-height: 40px;
				}
				.b-input-search input:-moz-placeholder {
					font-size: 28px;
					line-height: 40px;
				}

				.b-input-search .b-line{
					position: absolute;
					bottom: 0;
					left: 0;
					height: 2px;
					width: 100%;
					background-color: #211F1F;
					-webkit-transform: scaleX(0.25);
					-ms-transform: scaleX(0.25);
					-o-transform: scaleX(0.25);
					transform: scaleX(0.25);
					-webkit-transition: transform .8s cubic-bezier(0,0,0,1);
					-o-transition: transform .8s cubic-bezier(0,0,0,1);
					transition: transform .8s cubic-bezier(0,0,0,1);
				}
				.search-open .b-input-search .b-line{
					-webkit-transform: scale(1);
					-ms-transform: scale(1);
					-o-transform: scale(1);
					transform: scale(1);
				}

				.b-input-search .b-clear-input{
					display: none;
					position: absolute;
					top: 8px;
				    right: -10px;
				    width: 40px;
				    height: 40px;
					cursor: pointer;
				}
				.b-input-search .b-clear-input.show{
					display: block;
				}
				.b-input-search .b-clear-input:before{
					font-size: 20px;
					width: 20px;
					height: 20px;
				}

	.b-search-result{
		position: relative;
		margin-top: 80px;
	}
		.b-search-content:not(.results-open) .b-search-result-content{
			display: none;
		}
		.b-search-result-content{
			opacity: 0;
			visibility: hidden;
			-webkit-transform: translateY(40px);
			-ms-transform: translateY(40px);
			-o-transform: translateY(40px);
			transform: translateY(40px);
			-webkit-transition: transform .5s ease-out, opacity .5s ease-out, visibility .5s ease-out;
			-o-transition: transform .5s ease-out, opacity .5s ease-out, visibility .5s ease-out;
			transition: transform .5s ease-out, opacity .5s ease-out, visibility .5s ease-out;
		}
		.b-search-result-content.show{
			opacity: 1;
			visibility: visible;
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			-o-transform: translateY(0);
			transform: translateY(0);
		}
			/*.b-search-result .result-left{
			    width: calc((100vw - 180px)/4 - 30px);
			    display: inline-block;
			    vertical-align: top;
			    margin-right: 36px;
			}
			.b-search-result .result-right {
			    width: calc(100%/4*3 - 40px);
			    display: inline-block;
			    vertical-align: top;
			}*/

			.b-search-result .search-preloader{
				opacity: 0;
				visibility: hidden;
				position: absolute;
				top: -30px;
				left: calc(50% - 192px);
				width: 388px;
				height: 30px;
				background-image: url('../i/logo-preloader.svg');
				background-size: 388px;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				-webkit-transform: translateY(-20px);
				-ms-transform: translateY(-20px);
				-o-transform: translateY(-20px);
				transform: translateY(-20px);
				-webkit-transition: transform .5s ease-out, opacity .5s ease-out, visibility .5s ease-out;
				-o-transition: transform .5s ease-out, opacity .5s ease-out, visibility .5s ease-out;
				transition: transform .5s ease-out, opacity .5s ease-out, visibility .5s ease-out;
			}
			.b-search-result .search-preloader.show{
				opacity: 1;
				visibility: visible;
				-webkit-transform: translateY(0);
				-ms-transform: translateY(0);
				-o-transform: translateY(0);
				transform: translateY(0);
			}
			.search-empty{
				font-size: 24px;
    			line-height: 32px;
			}
			.b-search-result-list.b-catalog-list{
				margin-bottom: 80px;
			}

.search-open .b-header .b-search-icon:before{
	content: '\e903';
}

@media screen and (max-width: 1156px) {
	.search-result-title{
		font-size: 28px;
    	line-height: 36px;
	}
}

@media screen and (max-width: 960px) {
	.b-search-form{
		width: calc(100% - 180px);
	}
	.b-search-result-content .b-catalog-menu{
		width: 100%;
		display: block;
		margin-bottom: 40px;
		text-align: center;
	}
	.b-search-result-content .b-catalog-list{
		width: 100vw;
	}
	.b-search-result-content .b-catalog-list .b-catalog-item{
		margin-top: 0;
		margin-bottom: 40px;
	}
	.b-search-result-content .b-catalog-list .b-catalog-item:nth-child(3n){
		margin-right: 15px;
	}
	.search-empty{
		width: calc(100% - 32px);
		text-align: center;
	}
	.b-search-result-list.b-catalog-list{
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 768px) {
	.b-search-form {
	    width: calc(100% - 32px);
	}
	.b-input-search input{
		font-size: 20px;
    	line-height: 28px;
    	padding: 10px 32px 10px 42px;
	}
	.b-input-search input::-webkit-input-placeholder {
		font-size: 20px;
		line-height: 28px;
	}
	.b-input-search input:-moz-placeholder {
		font-size: 20px;
		line-height: 28px;
	}
	.b-search-result{
		margin-top: 60px;
	}
	.b-search-result .search-preloader{
		top: -20px;
    	left: calc(50% - 150px);
    	width: 300px;
    	height: 23px;
        background-size: 300px;
	}
	.b-input-search .b-clear-input{
		top: 4px;
	}
}

@media screen and (max-width: 500px){
	.b-search-result-content .b-catalog-list .b-catalog-item{
		margin-bottom: 24px;
	}
}

/******************   search   *******************/

/******************   menu   *******************/

.b-menu-mobile{
	display: none;
}

.b-menu{
	position: absolute;
	z-index: 15;
	width: 100%;
	background-color: #FFF;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(-40px);
	-ms-transform: translateY(-40px);
	-o-transform: translateY(-40px);
	transform: translateY(-40px);
	-webkit-transition: transform .3s ease-out, opacity .3s ease-out, visibility .3s ease-out;
    -moz-transition: transform .3s ease-out, opacity .3s ease-out, visibility .3s ease-out;
    -ms-transition: transform .3s ease-out, opacity .3s ease-out, visibility .3s ease-out;
    -o-transition: transform .3s ease-out, opacity .3s ease-out, visibility .3s ease-out;
    transition: transform .3s ease-out, opacity .3s ease-out, visibility .3s ease-out;
}
.menu-open .b-menu{
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.menu-open .b-menu-icon:before{
	content: '\e903';
}
	.b-menu-desktop{
		padding: 60px 0 80px 0;
	}
		.b-menu-section{
			width: 25%;
	    	float: left;
	    	padding-right: 40px;
		}
			.b-menu-section .main-item{
				display: inline-block;
				font-family: 'GothamPro-Medium';
				font-size: 28px;
				line-height: 40px;
				color: #21201F;
				margin-bottom: 30px;
			}
			.b-menu-section ul{

			}
				.b-menu-section ul li{

				}
					.b-menu-section ul li a{
	    				display: inline-block;
	    				margin-bottom: 24px;
	    				font-size: 18px;
	    				line-height: 24px;
					}
					.b-menu-section ul li:last-child a{
						margin-bottom: 0;
					}
.b-menu-mobile{
	overflow: auto;
	padding: 16px 32px 32px 32px;
}
	.b-menu-mobile .b-menu-mobile-list{
		
	}
		.b-menu-mobile .b-menu-mobile-list li{
			position: relative;
			border-bottom: 1px solid #E6E6E6;
		}
		.b-menu-mobile .b-menu-mobile-list li .b-arrow-right{
			position: absolute;
			top: 50%;
			right: 0;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			width: 8px;
			height: 14px;
		}
		.b-menu-mobile .b-menu-mobile-list li .b-arrow-right:before{
			font-size: 14px;
		}
			.b-menu-mobile .b-menu-mobile-list li a{
				display: inline-block;
				width: 100%;
				padding: 17px 0 15px 0;
				font-size: 16px;
    			line-height: 22px;
			}

.b-menu-mobile .slide-cont{
	opacity: 0;
	visibility: hidden;
	-moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -webkit-transform: translateX(40px);
    -o-transform: translateX(40px);
    transform: translateX(40px);
	position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: calc(100% - 30px);
    height: 100%;
    padding: 27px 0;
    background-color: #FFF;
    box-shadow: -20px 0px 24px rgba(0, 0, 0, 0.05);
    -webkit-transition: opacity 200ms, visibility 200ms, transform 200ms;
	   -moz-transition: opacity 200ms, visibility 200ms, transform 200ms;
	    -ms-transition: opacity 200ms, visibility 200ms, transform 200ms;
	   	 -o-transition: opacity 200ms, visibility 200ms, transform 200ms;
			transition: opacity 200ms, visibility 200ms, transform 200ms;
	overflow: auto;
}
.b-menu-mobile .slide-cont.open{
	opacity: 1;
	visibility: visible;
	-moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
	.b-menu-mobile .slide-cont h3{
		position: relative;
		z-index: 20;
		display: inline-block;
		padding-left: 52px;
		margin-bottom: 20px;
		font-size: 24px;
    	line-height: 32px;
	}
	.b-menu-mobile .slide-cont h3 .b-arrow-left{
		position: absolute;
    	top: 4px;
    	left: 20px;
	}
	.b-menu-mobile .slide-cont ul{
		padding: 0 16px 0 52px;
	}
		.b-menu-mobile .slide-cont ul li{
			padding: 0;
		}
		.b-menu-mobile .slide-cont ul li:first-child{
		    border-top: 1px solid #E6E6E6;
		}

.b-menu-sub{
	display: none;
}
	.slide-cont .b-menu-sub{
		display: block;
	}

.b-arrow-left{

}
	.b-arrow-left:before{
		content: '\e908';
		font-size: 20px;
	}

.b-arrow-right{
	
}
	.b-arrow-right:before{
		content: '\e909';
		font-size: 20px;
	}

.b-social{
	max-width: 310px;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 20px;
}
	.b-social .icon:before{
		color: #B7968B;
	}
	.b-social li{

	}
		.b-social li a{
			font-size: 0px !important;
			width: 30px;
			height: 30px;
			display: block;
		}
		.b-social li a.icon:before{
			width: auto;
			height: auto;
		}

.soc-vk:before{
	content: '\e90a';
	font-size: 18px;
}
.soc-facebook:before{
	content: '\e90b';
	font-size: 24px;
}
.soc-instagram:before{
	content: '\e90d';
	font-size: 24px;
}
.soc-youtube:before{
	content: '\e90e';
	font-size: 18px;
}

@media screen and (max-width: 1280px){
	.b-menu-desktop{
		padding: 40px 0 60px 0;
	}
		.b-menu-section {
		    padding-right: 24px;
		}
			.b-menu-section .main-item {
			    font-size: 24px;
			    line-height: 32px;
			    margin-bottom: 24px;
			}
			.b-menu-section ul li a{
				font-size: 16px;
				margin-bottom: 16px;
			}
}

@media screen and (max-width: 960px){
	.b-menu-desktop {
	    padding: 24px 0 32px 0;
	}
		.b-menu-section {
		    width: 33%;
		}
			.b-menu-section .main-item {
			    font-size: 20px;
			    line-height: 28px;
			    margin-bottom: 16px;
			}
}

@media screen and (max-width: 768px) {
	.b-menu-desktop{
		display: none;
	}
	.b-menu-mobile{
		display: block;
	}
}

/******************   menu   *******************/

/******************   main page  *******************/


		.b-main-slider-cont{
			height: calc(100vh - 170px);
			overflow: hidden;
			position: relative;
			background-color: #eaeaea;
		}
			.b-main-slider{
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				opacity: 0;
				-webkit-transition: opacity .2s ease-in;
				-o-transition: opacity .2s ease-in;
				transition: opacity .2s ease-in;
			}
			.init .b-main-slider{
				opacity: 1;
			}
				.b-main-slider-item{
					height: 100%;
				}
					.b-main-slider-item img{
						width: 100%;
					}
			.b-main-slider-assets{
				color: #fff;
				text-align: center;
				display: flex;
				flex-wrap: wrap;
				align-items: flex-end;
				height: 100%;
				padding-bottom: 74px;
				justify-content: center;
				position: relative;
				opacity: 0;
				-webkit-transition: opacity .2s ease-in;
				-o-transition: opacity .2s ease-in;
				transition: opacity .2s ease-in;
			}
			.init .b-main-slider-assets{
				opacity: 1;
			}
				.b-main-slider-assets .slick-list,
				.b-main-slider-assets .slick-track{
					height: 100%;
				}
				.b-main-slider-assets-item{
					height: 100%;
				}
					.init .b-assets-bottom{
						position: absolute;
						bottom: 0;
						left: 50%;
						-webkit-transform: translateX(-50%);
						-ms-transform: translateX(-50%);
						-o-transform: translateX(-50%);
						transform: translateX(-50%);
					}	
						.b-assets-bottom .b-btn{
							width: 253px;
							margin: 0 auto;
						}
					.b-assets-item-text{
						font-family: 'GothamPro-Regular';
						font-size: 20px;
						line-height: 32px;
						margin-bottom: 32px;
					}
						.slick-dots{
							position: absolute;
							left: 50%;
							bottom: 32px;
							-webkit-transform: translateX(-50%);
							-ms-transform: translateX(-50%);
							-o-transform: translateX(-50%);
							transform: translateX(-50%);
						}
							.slick-dots li{
								display: inline-block;
								width: 10px;
								height: 10px;
								background-color: #fff;
								opacity: 0.6;
								border-radius: 20px;
								margin-right: 30px;
								cursor: pointer;
							}
								.slick-dots li button{
									display: none;
								}
							.slick-dots li:last-child{
								margin-right: 0;
							}
							.slick-dots li.slick-active{
								opacity: 1;
							}
		.b-slider-with-descr-cont{
			padding-top: 100px;
		}
			.b-slider-descr{
				/*width: calc(100%/4 - 30px);*/
				width: calc((100vw - 180px)/4 - 30px);
				display: inline-block;
				vertical-align: top;
				margin-right: 36px;
			}
				.b-slider-descr h2{
					margin-bottom: 40px;
				}
				.b-slider-with-descr-cont .b-btn{
					border-color: rgba(33, 31, 31, 0.4);
					color: #211F1F;
				}
			.b-slider-with-descr{
				width: calc(100%/4*3 - 40px);
				display: inline-block;
				vertical-align: top;
			}
				.b-slider-with-descr-inner-cont{
					overflow-y: auto;
					margin-right: -180px;
					padding-bottom: 10px;
					margin-bottom: -10px;
					-webkit-overflow-scrolling: touch;
				}
				.b-slider-with-descr-inner-cont::-webkit-scrollbar {
					height: 5px;
				}
				.b-slider-with-descr-inner-cont::-webkit-scrollbar-button {
					display: none;
				}
				.b-slider-with-descr-inner-cont::-webkit-scrollbar-track {
					background-color: #999;
				}
				.b-slider-with-descr-inner-cont::-webkit-scrollbar-track-piece {
					background-color: #ffffff;
				}
				.b-slider-with-descr-inner-cont::-webkit-scrollbar-thumb {
					height: 30px;
					background-color: #666;
					border-radius: 3px;
					-webkit-transition: background-color .2s;
					-o-transition: background-color .2s;
					transition: background-color .2s;
				}
				.b-slider-with-descr-inner-cont:hover::-webkit-scrollbar-thumb{
					background-color: #666;
				}
				.b-slider-with-descr-inner-cont::-webkit-scrollbar-corner {
					background-color: #999;
				}
				.b-slider-with-descr-inner-cont::-webkit-resizer {
					background-color: #211e1e;
				}
				.b-slider-with-descr-inner{
					width: 9999px;
				}
				.b-catalog-item{
					display: inline-block;
					vertical-align: top;
					margin-right: 36px;
					width: calc((100vw - 180px)/4 - 30px);
				}
				.b-catalog-item:last-child{
					margin-right: 0;
				}
					.b-catalog-item-img{
						height: calc(((100vw - 180px)/4 - 30px)*1.5);
						margin-bottom: 24px;
						overflow: hidden;
						position: relative;
					}
						.b-catalog-item-img img{
							width: 100%;
						}
						.b-catalog-item-img img.hover{
							position: absolute;
							left: 0;
							top: 0;
							opacity: 0;
							-webkit-transition: opacity .3s, transform .3s;
							-o-transition: opacity .3s, transform .3s;
							transition: opacity .3s, transform .3s;
						}
						.b-catalog-item:hover .b-catalog-item-img img.hover{
							-webkit-transform: scale(1.05 ,1.05);
							-ms-transform: scale(1.05 ,1.05);
							-o-transform: scale(1.05 ,1.05);
							transform: scale(1.05 ,1.05);
							opacity: 1;
						}
					.b-catalog-item-text{
						font-size: 18px;
						line-height: 24px;
						margin-top: 6px;
					}
			.b-slider-with-descr-mobile-btn{
				display: none;
				margin-top: 32px;
			}
		.b-lookbook-block{
			padding-top: 100px;
		}
			.b-lookbook-block .b-block{
				display: flex;
				justify-content: space-between;
			}
			.b-lookbook-item{
				width: calc((100vw - 180px)/2 - 20px);
				margin-bottom: 24px;
				margin-right: 35px;
				display: inline-block;
				vertical-align: top;
			}
			.b-lookbook-item:nth-child(2n){
				margin-right: 0;
			}
				.b-lookbook-img{
					height: 485px;
					height: calc(((100vw - 180px)/2 - 20px)/1.42);
					margin-bottom: 24px;
					overflow: hidden;
				}
					.b-lookbook-img img{
						width: 100%;
					}
				.b-lookbook-date{
					margin-bottom: 8px;
					font-size: 18px;
					line-height: 24px;
					color: #A8A8A8;
				}
				.b-lookbook-text{
					font-size: 18px;
					line-height: 24px;
				}
@media screen and (min-width: 1280px) and (max-width: 1600px) {
	.b-main-slider-cont{
		height: calc(100vh - (50px + 20 * (100vw - 1280px) / 320) + 30px);
	}
}
@media screen and (max-width: 1280px){
	.b-main-slider-cont{
		height: calc(100vh - 130px);
	}
}
@media screen and (max-width: 960px){
	.b-slider-descr{
		width: 100%;
	}
	.b-slider-with-descr-cont{
		padding-top: 60px;
		overflow: hidden;
	}
		.b-slider-descr h2{
			margin-bottom: 32px;
		}
	.b-slider-descr .b-btn{
		display: none;
	}
	.b-slider-with-descr-mobile-btn{
		display: block;
	}
		.b-slider-with-descr{
			width: 100%;
		}
			.b-slider-with-descr-inner-cont{
				margin-right: -32px;
				margin-left: -32px;
				padding-left: 32px;
				padding-right: 32px;
			}
	.b-catalog-item{
		width: calc((100vw - 32px)/2 - 8px);
		margin-right: 15px;
	}	
		.b-catalog-item-img{
			height: calc(((100vw - 32px)/2 - 8px)*1.5);
		}
	.b-lookbook-block{
		padding-top: 60px;
	}
		.b-lookbook-item{
			width: calc((100vw - 32px)/2 - 8px);
			margin-right: 15px;
		}

}
@media screen and (max-width: 768px) {
	.b-main-slider-cont{
		height: 524px;
	}
		.b-lookbook-block .b-block{
			display: block;
		}
			.b-lookbook-item{
				width: 100%;
				margin-right: 0;
				margin-bottom: 40px;
			}
			.b-lookbook-item:last-child{
				margin-bottom: 0;
			}
				.b-lookbook-img{
					height: calc((100vw - 32px)/1.42);
				}
}
@media screen and (max-width: 500px){
	.b-catalog-item-img{
		margin-bottom: 18px;
	}
	.b-catalog-item-text{
		margin-top: 10px;
		font-size: 14px;
		line-height: 20px;
	}
	.b-lookbook-date,
	.b-lookbook-text{
		font-size: 14px;
		line-height: 20px;
	}
}
@media screen and (max-width: 375px){
	.b-main-slider-item img{
		height: 100%;
		width: auto;
	}
}


/******************   main page  *******************/

/******************   catalog  *******************/


.b-catalog{
	margin-top: 21px;
}
	.b-catalog-cont{

	}
		.b-catalog-menu{
			width: calc(100%/4 - 30px);
			display: inline-block;
			vertical-align: top;
			margin-right: 36px;
		}	
			.b-breadcrumbs{
				margin-bottom: 12px;
			}
				.b-breadcrumbs li{
					font-size: 18px;
					line-height: 24px;
					color: #211F1F;
					display: inline;
					font-family: 'GothamPro-Regular';
				}
					.b-breadcrumbs a{
						position: relative;
					}
					.b-breadcrumbs a:before{
						position: absolute;
						height: 1px;
						content: '';
						width: 0;
						left: 0;
						bottom: -1px;
						-webkit-transition: width .1s ease-out;
						-o-transition: width .1s ease-out;
						transition: width .1s ease-out;
						background-color: #211F1F;
					}
					.b-breadcrumbs a:hover:before{
						width: 100%;
					}
						.b-breadcrumbs span{

						}
						.b-breadcrumbs li:not(:first-child):before{
							content: ' / ';
						}
			.b-catalog-menu-list{
				margin-top: 50px;
			}
				.b-catalog-menu-list li{
					font-size: 18px;
					line-height: 24px;
					color: #211F1F;
					font-family: 'GothamPro-Regular';
					margin-bottom: 24px;
				}
					.b-catalog-menu-list a{
						display: block;
						position: relative;
					}
					.b-catalog-menu-list a:before{
						content: '';
						height: 12px;
						width: 0;
						left: -9px;
						bottom: 0;
						background-color: #B7968B;
						opacity: 0.15;
						position: absolute;
						-webkit-transition: width .4s ease-out;
						-o-transition: width .4s ease-out;
						transition: width .4s ease-out;
					}
					.b-catalog-menu-list a.active:before,
					.b-catalog-menu-list a:hover:before{
						width: calc(100% + 9px);
					}
		.b-catalog-list{
			display: inline-block;
			width: calc(100%/4*3 - 10px);
		}
			.b-catalog-list .b-catalog-item:nth-child(-n+3){
				margin-top: 0;
			}
			.b-catalog-list .b-catalog-item{
				margin-top: 51px;
			}
			.b-catalog-list .b-catalog-item:nth-child(3n){
				margin-right: 0;
			}


/******************   catalog  *******************/

/******************   detail  *******************/


.b-detail{
	
}
	.b-detail-left{
		width: calc(100% - 608px);
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin-right: 36px;
		padding-bottom: 40px;
	}
		.b-detail-big-img-list{
			width: 100%;
			display: inline-block;
			vertical-align: top;
			margin-right: 36px;
		}
			.b-detail-big-img{
				margin-bottom: 40px;
			}
			.b-detail-big-img:last-child{
				margin-bottom: 0;
			}
				.b-detail-big-img img{
					width: 100%;
				}
	.b-detail-right{
		width: 568px;
		display: inline-block;
		vertical-align: top;
		padding-bottom: 40px;
	}
		.b-detail-small-img-list{
			display: inline-block;
			position: relative;
			vertical-align: top;
			width: 81px;
		}
			.b-detail-small-img-hover{
				position: absolute;
				left: -3px;
				top: -3px;
				width: 87px;
				height: 107px;
				border: 2px solid #B7968B;
				opacity: 0;
				-webkit-transition: opacity .1s;
				-o-transition: opacity .1s;
				transition: opacity .1s;
			}
				.b-detail-small-img{
					font-size: 16px;
					font-family: 'GothamPro-Regular';
					display: block;
					width: 100%;
					margin-right: 20px;
					background-size: cover;
					background-position: 50% 0;
					margin-bottom: 40px;
				}
				.b-detail-small-img:last-child{
					margin-bottom: 0;
				}
					.b-detail-img-block{
						width: 81px;
						height: 101px;
						line-height: 36px;
						text-align: center;
						display: block;
						cursor: pointer;
						position: relative;
					}
		.b-detail-info-cont{
			display: inline-block;
			vertical-align: top;
			width: calc(100% - 121px);
			margin-left: 36px;
		}
			.b-detail-right-top{
				margin-bottom: 20px;
			}
			.b-detail-price{
				font-family: 'GothamPro-Regular';
				font-size: 28px;
				color: #211F1F;
				line-height: 36px;
				margin-bottom: 20px;
			}
			.b-detail-popup-links{
				
			}
				.b-detail-popup-links a{
					font-family: 'GothamPro-Regular';
					font-size: 16px;
					line-height: 15px;
					margin-right: 40px;
					display: inline-block;
					margin-bottom: 24px;
				}
				.b-detail-popup-links a:last-child{
					margin-right: 0;
				}
			.b-detail-option-cont{
				
			}
				.b-detail-label{
					font-family: 'GothamPro-Regular';
					font-size: 16px;
					line-height: 24px;
					margin-bottom: 12px;
				}
				.b-detail-option-list{
					display: inline-block;
					position: relative;
				}
				.b-detail-option-hover{
					position: absolute;
					left: 0;
					top: 0;
					width: 55px;
					height: 36px;
					border: 2px solid #B7968B;
					opacity: 0;
					-webkit-transition: opacity .1s;
					-o-transition: opacity .1s;
					transition: opacity .1s;
				}
					.b-detail-option{
						font-size: 16px;
						font-family: 'GothamPro-Regular';
						display: inline-block;
						margin-right: 20px;
						margin-bottom: 24px;
					}
						.b-detail-option input{
							opacity: 0;
							visibility: hidden;
							position: absolute;
						}
						.b-detail-option label{
							width: 55px;
							height: 36px;
							line-height: 36px;
							text-align: center;
							display: block;
							border: 1px solid rgba(183, 150, 139, 0.32);
							cursor: pointer;
							position: relative;
						}
						.b-detail-option input:checked + label{
							color: #B7968B;
							font-family: 'GothamPro-Medium';
						}
					.b-detail-option:last-child{
						margin-right: 0;
					}
			.b-detail-color{

			}
				.b-detail-color .b-detail-option-hover{
					width: 49px;
	  				height: 30px;
	  				margin-top: 3px;
	  				margin-left: 3px;
	  				border-color: #fff;
	  				-webkit-transition: border-color .3s;
	  				-o-transition: border-color .3s;
	  				transition: border-color .3s;
				}
				.b-detail-color .b-detail-option{

				}
					.b-detail-color .b-detail-option input + label{
						font-family: 'icomoon';
						border-color: transparent;
					}
					.b-detail-color .b-detail-option input + label:before{
						content: '\e902';
						font-size: 20px;
						color: #fff;
						opacity: 0;
						visibility: hidden;
						-webkit-transition: opacity .1s, visibility .1s;
						-o-transition: opacity .1s, visibility .1s;
						transition: opacity .1s, visibility .1s;
					}
					.b-detail-color .b-detail-option.black-tick input + label:before{
						color: #B7968B;
					}
					.b-detail-color .b-detail-option input:checked + label:before{
						opacity: 1;
						visibility: visible;
					}
			.b-article{
				margin-bottom: 24px;
				font-family: 'GothamPro-Regular';
				font-size: 16px;
				line-height: 24px;
			}
			.b-detail .b-btn-brown{
				margin-bottom: 32px;
			}
			.b-detail-info{
				font-family: 'GothamPro-Regular';
				font-size: 16px;
				line-height: 24px;
			}
				.b-detail-payment{
					margin-bottom: 24px;
				}
					.b-detail-payment-text{
						display: inline-block;
						vertical-align: middle;
						margin-right: 16px;
					}
					.b-detail-payment-options{
						background-image: url('../i/payment.jpg');
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
						width: 202px;
						height: 21px;
						display: inline-block;
						vertical-align: middle;
					}
				.b-detail-description{

				}
@media screen and (max-width: 1280px){
	.b-detail-left{
		width: calc(50% - 40px);
	}
	.b-detail-right{
		width: 50%;
	}
}

/******************   detail  *******************/

/******************   footer  *******************/

	.b-footer{
		margin-top: 100px;
		padding-top: 92px;
		padding-bottom: 90px;
		background-color: #211F1F;
	}
		.b-footer-top{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
			.b-footer-logo{
				background-image: url('../i/white-logo.svg');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				width: 274px;
				height: 25px;
				margin-top: 8px;
				display: block;
				max-width: 100%;
			}
			.b-footer-menu{
				margin-right: 119px;
				width: calc(100% - 484px);
				display: flex;
				justify-content: space-between;
			}
				.b-footer-menu-column{
					display: inline-block;
					vertical-align: top;
					margin-right: 40px;
					width: calc((100vw - 180px)/4 - 30px);
				}
				.b-footer-menu-column:last-child{
					margin-right: 0;
				}
					.b-footer-menu-column h3{
						margin-bottom: 39px;
						color: #F8F5F2;
					}
					.b-footer-menu-column ul{

					}
						.b-footer-menu-column li{
							margin-bottom: 30px;
						}
						.b-footer-menu-column li:last-child{
							margin-bottom: 0;
						}
							.b-footer-menu-column a{
								font-family: 'GothamPro-Regular';
								font-size: 18px;
								color: #F8F5F2;
								line-height: 24px;
								position: relative;
							}
							.b-footer-menu-column a:before{
								position: absolute;
								height: 1px;
								content: '';
								width: 0;
								left: 0;
								bottom: -1px;
								-webkit-transition: width .1s ease-out;
								-o-transition: width .1s ease-out;
								transition: width .1s ease-out;
								background-color: #FFF;
							}
							.b-footer-menu-column a:hover:before{
								width: 100%;
							}
		.b-footer-bottom{
			margin-top: 86px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-end;
		}
			.b-footer-bottom-item{
				font-family: 'GothamPro-Regular';
				font-size: 18px;
				color: #F8F5F2;
				line-height: 24px;
				display: inline-block;
				max-width: 33%;
			}
			.politics{
				position: absolute;
				left: 50%;
				-webkit-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				-o-transform: translateX(-50%);
				transform: translateX(-50%);
			}
				.politics a{
					color: #F8F5F2;
				}
				.redder a{
					width: 138px;
					height: 30px;
					display: inline-block;
					background-image: url('../i/redder.svg');
					background-size: contain;
					background-repeat: no-repeat;
					background-position: 50% 50%;
				}

@media screen and (max-width: 1280px){
	.b-footer-menu-column li{
		margin-bottom: 24px;
	}
	.b-footer-menu-column a{
		font-size: 16px;
	}
	.b-footer-bottom-item{
		font-size: 16px;
		max-width: calc(100% - 150px);
		display: block;
	}
	.b-footer-bottom{
		display: block;
		position: relative;
	}
	.redder{
		position: absolute;
		right: 0;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.politics{
		position: relative;
		left: 0;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.b-footer-menu-column h3{
		font-size: 24px;
		line-height: 32px;
	}
}

@media screen and (max-width: 1156px){
	.b-footer-menu-column{
		width: calc((100vw - 180px)/3 - 27px);
	}
	.b-footer-menu-column:nth-child(3){
		margin-right: 0;
	}
	.b-footer-menu-column:last-child{
		display: none;
	}
}
@media screen and (max-width: 960px){
	.b-footer-menu-column{
		width: calc((100vw - 32px)/3 - 27px);
	}
}
@media screen and (max-width: 767px){
	.b-footer{
		margin-top: 60px;
		padding-top: 44px;
		padding-bottom: 44px;
	}
	.b-footer-menu-column{
		width: 100%;
		margin-right: 0;
	}
	.b-footer-menu-column:nth-child(3),
	.b-footer-menu-column h3{
		display: none;
	}
	.b-footer-logo{
		margin-bottom: 41px;
	}
	.b-footer-menu-column li{
		margin-bottom: 16px;
	}
	.b-footer-menu-column a{
		font-size: 14px;
		line-height: 22px;
	}
	.redder{
		position: relative;
		top: 0;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.b-footer-bottom{
		display: flex;
		justify-content: flex-start;
	}
	.b-footer-bottom{
		margin-top: 0;
	}
	.b-footer-bottom-item{
		max-width: 100%;
		width: 100%;
		margin-top: 0;
		font-size: 14px;
		line-height: 22px;
	}
	.politics{
		order: -1;
		margin-top: 16px;
		margin-bottom: 44px;
	}
	.redder{
		margin-top: 19px;
		line-height: 0;
	}
		.redder a{
			width: 92px;
			height: 20px;
		}
}
/******************   footer  *******************/

